name: HTTP Cron Trigger

on:
  workflow_dispatch:
  schedule:
    - cron: "*/1 * * * *"

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Call cron.php
        run: |
          curl -A "GitHub-Actions-Cron" -L https://salonazizcan.hedefbilgitoplumu.com/cron.php
